---
export interface Props {
  title: string;
  url: string;
}

const { title, url } = Astro.props;
const thumbnail = url + "-thumbnail.png";
---

<li class="">
  <a
    href={url}
    class="block bg-white shadow-sm border border-gray-200 rounded-lg hover:shadow-lg transition-shadow"
  >
    <div class="h-52">
      <img src={thumbnail} class="rounded-t-lg w-full h-full object-cover" />
    </div>
    <div class="p-4">
      <span>{title}</span>
      <div class="float-right text-xl">&rarr;</div>
    </div>
  </a>
</li>
