<p
  class="bg-white mb-8 p-4 text-gray-700 rounded-lg border border-gray-200 shadow-sm"
>
  To appear on this website <a
    class="link"
    href="https://docs.google.com/forms/d/e/1FAIpQLSeOUA-2nj6g24chRuVzdrJsUWxhtZn0NZSx82oWXm3UWw-4WQ/viewform?usp=sf_link"
    >fill the Google form here</a
  >.
  <br />
  Your response will be visible <a
    class="link"
    href="https://docs.google.com/spreadsheets/d/1UEa0Zpwu6YV4STZMQK4hjjOnBj0prpeh6zalVciWSq4/edit?resourcekey#gid=1128478487"
    >on the spreadsheet here</a
  >
  <br />
  This is an experiment to <a
    href="https://medium.com/@Zequez/generate-static-website-based-on-google-sheets-data-132d7636843e"
    >generate a static website based on Google Sheets data</a
  >.
  <br />
  The source code is available at the <a
    class="link"
    href="https://github.com/zequez/gsheets-based-website">Github repository</a
  >
  <br />
  If you feel inspired by the possibilities of this you can <a
    class="link"
    href="https://t.me/zequez">contact me on Telegram</a
  > to make me a proposal.
</p>
